[Unit]
Description=Node Exporter

[Service]
ExecStart={{ node_exporter_bin }} --web.listen-address=:{{ node_exporter_ports[inventory_hostname] }}
Restart=on-failure

[Install]
WantedBy=default.target
